 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <input type="button" value="测试" id="btnTest" onclick="btnTestClick()" />
    </div>
</body>
</html>
<script type="text/javascript">
    function btnTestClick()
    {
         
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("OpenDoor1", "Account")',
                traditional: true
            }).done(function (result) {
                if (result.success == true) {
                    alert("操作成功!");
                } else {
                    alert("操作失败:" + result.desc);
                }
            }); 
    }

</script>